#!/usr/bin/make -f

CALAMARES_BUILD_FLAGS = -DWITH_PARTITIONMANAGER=ON \
	-DWEBVIEW_FORCE_WEBKIT=ON

%:
	dh $@ --dbg-package=calamares-dbg --with kf5 --parallel

override_dh_auto_configure:
	dh_auto_configure -- $(CALAMARES_BUILD_FLAGS)

override_dh_install:
	dh_install --list-missing

override_dh_auto_clean:
	dh_auto_clean
