[Desktop Entry]
Type=Application
Version=1.0
Name=Install Tanglu
GenericName=Tanglu Live Installer
Comment=Install the operating system to disk
TryExec=calamares
Exec=sh -c 'pkexec /usr/bin/calamares'
Icon=live-installer
Terminal=false
StartupNotify=false
Categories=System;
